.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 36rem;
  height: 36rem;
  background-color: #fff;
}

.reset {
  text-align: right;
  width: 36rem;
}
.reset button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  color: #121212;
  border: transparent;
  cursor: pointer;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 30px;
  font-size: 30px;
}
